.member-card{
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;

    .member-profileImage{
        img{
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
    }

    .member-name{
        font-size: 13px;
        color: gray;
    }
}